/* debug */
/* [class*="container"] {
    background-color: lightblue;
    border: 1px solid black;
}

[class*="col-"] {
    height: 100px;
    background-color: lightcoral;
    border: 1px solid white;
} */

body {
    font-family: 'Roboto', sans-serif;
}