/* debug */
/* [class*="container"] {
    background-color: lightblue;
    border: 1px solid black;
}

[class*="col-"] {
    background-color: lightcoral;
    border: 1px solid white;
} */

/* common */
body {
    font-family: 'Roboto', sans-serif;
}

/* common background */
#ms_regions,
#ms_get_started {
    background-color: #0047c5;
}

#ms_partners,
#ms_create,
#ms_reviews {
    background-color: #f3f5f9;
}

#ms_jumbotron_form,
#ms_reviews_item {
    background-color: white;
}
/* common padding */
#ms_jumbotron,
#ms_partners,
#ms_description,
#ms_create,
#ms_features,
#ms_regions,
#ms_reviews,
#ms_get_started,
footer {
    padding: 30px 0;
}

/* common text */


/* HEADER */
/* nav */
#ms_nav {
    height: 100px;
    background-color: lightpink;
}
/* jumbotron */
#ms_jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: contain;
}

#ms_jumbotron_form {
    border-radius: 5px;
    padding: 10px 10px;
}

#ms_jumbotron_form input {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
}

.ms_btn_jumbotron_up {
    background-color: #579aff;
}
.ms_btn_jumbotron_down {
    position: relative;
    border: 1px solid black;
}
#ms_google_icon {
    width: 20px;
    position: absolute;
    left: 5%;
}
/* MAIN */
/* partners */


.ms_partners_item img{
    height: 150px;
    width: 100%;
}
/* description */
/* create */


#ms_create_image_container img {
    width: 100%;
}

/* features */
/* regions */

.ms_regions_table {
    padding: 15px 0;
}

.ms_regions_table_row {
    border-bottom: 1px solid black;
}

/* reviews */
#ms_reviews {
}
/* get started */
#ms_get_started {
    text-align: center;
}

.ms_btn {
    margin-top: 15px;
    background-color: white;
    border: 1px solid white;
    color: #006aff;
}


/* footer */
footer {
    background-color: #031c4e;
}

#ms_footer_copyright,
#ms_footer_copyright a {
    color: gray;
}

#ms_footer_copyright img {
    margin-bottom: 15px;
}

#ms_footer_copyright p {
    font-size: 1em;
    margin: 0px;
}

#ms_footer_copyright_social {
    padding: 10px 0;
}

#ms_footer_copyright_social a {
    font-size: 1.5em;
    padding: 0 5px;
}

.ms_footer_list {

}

.ms_footer_list ul {
    padding-inline-start: 0px;
    list-style: none;
    margin-bottom: 20px;
}

.ms_footer_list ul li {
    padding: 5px 0;
}
.ms_footer_list ul li:first-child {
    font-size: 1.4em;
    font-weight: 700;
    color: white;
}

.ms_footer_list ul li a {
    text-decoration: none;
    color: gray;
}
