/* common */
body {
    font-family: 'Roboto', sans-serif;
}

/* common background */
#ms_partners,
#ms_create,
#ms_reviews {
    background-color: #f3f5f9;
}

#ms_regions,
#ms_get_started {
    background: linear-gradient(#0048c5,#001e99);
}

#ms_jumbotron_form,
#ms_reviews_item {
    background-color: white;
    border-radius: 5px;
}

/* common padding */
#ms_jumbotron,
#ms_description,
#ms_create,
#ms_features,
#ms_regions,
#ms_reviews,
#ms_get_started,
#ms_footer {
    padding: 60px 0;
}

/* common text */
h1,
h2,
h3,
#ms_create_item p,
#ms_reviews_item_signature p:first-of-type {
    font-weight: 700;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 19px;
}
p {
    font-size: 22px;
}

#ms_partners p,
.ms_description_item p,
#ms_create_item p,
.ms_features_item p,
#ms_reviews_item_signature p,
#ms_footer_copyright p,
.ms_footer_list {
    font-size: 16px;
}

/* common text color */
h1,
#ms_regions_text h2,
#ms_get_started h2 {
    color: white;
}

h2,
#ms_jumbotron_form p,
#ms_create_item p,
#ms_reviews_item_signature p {
    color: #031c4e;
}

h4,
p,
#ms_description_list {
    color: #5a6887;
}

/* link */
#ms_jumbotron_form a,
.ms_link_heavy {
    color: #1d7bfe;
}

.ms_link_heavy {
    font-size: 16px;
    font-weight: 700;
}

.ms_link_heavy::after,
#ms_regions a::after {
    content: ">";
    margin-left: 10px;
}
.ms_link_heavy:hover {
    text-decoration: none;
    color: #1d7bfe;
    border-bottom: 1px solid #1d7bfe;
}

/* circle list */
.ms_circle_list {
    padding-top: 30px;
    padding-inline-start: 0;
    display: inline-block;
    list-style: none;
    font-size: 12px;
}
.ms_circle_list li {
    display: inline-block;
}
.ms_circle_list li a {
    color: #1d7bfe;
}

/* ms_create_item - chevron */
/* ms_reviews_item - chevron */
.fa-chevron-left,
.fa-chevron-right {
    position: absolute;
    top: 45%;
    font-size: 50px;
    color: #031c4e;
    visibility: hidden;
}
.fa-chevron-left {
    opacity: 0.5;
    left: -20%;
}
.fa-chevron-right {
    left: 110%;
}

/* HEADER */
/* fixed element */
#ms_fixed {
    position: fixed;
    bottom: 2%;
    left: 5%;
    z-index: 1000;
}

#ms_fixed_image_container {
    width: 70px;
    height: 60px;
    border-radius: 5px;
    background-color: #006aff;
    padding: 2px;
    margin-bottom: 15px;
    border: 1px solid black;
    position: relative;
}
#ms_fixed_image_circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    border: 4px solid white;
    position: absolute;
    right: -20%;
    top: -20%;
}
#ms_fixed_image_circle span {
    color: white;
    font-weight: 700;
    padding-left: 7px;
}

#ms_fixed_image_container img {
    width: 100%;
}

#ms_fixed_text {
    background-color: white;
    border-radius: 5px;
    padding: 10px 7.5px;
    border: 1px solid black;
}
#ms_fixed_text span {
    font-size: 16px;
    color: #031c4e;
}

/* nav */
.ms_my_navbar {
    margin-bottom: 0px;
    background-color: white;
    border-color: white;
}
.ms_my_navbar .navbar-nav>li>a {
    color: #031c4e;
    padding-left: 0;
}
.ms_my_navbar .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.ms_my_navbar .navbar-toggle {
    border: none;
}
.ms_my_navbar .navbar-toggle .icon-bar {
    width: 15px;
    background-color: #1d7bfe;
}

.navbar-brand img {
    line-height: 50px;
    height: 19px;
    margin-right: 100px;
}

.ms_btn_navbar {
    margin-top: 8.5px;
    color: #1d7bfe;
    border: 1px solid #1d7bfe;
    transition: 0.5s;
}
.ms_btn_navbar:hover {
    color: white;
    background-color: #1d7bfe;
}

/* jumbotron */
#ms_jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: contain;
}

#ms_jumbotron_text p {
    color: lightgray;
}

#ms_jumbotron_form {
    padding: 30px 20px;
}

#ms_jumbotron_form h2 {
    font-size: 28px;
}
#ms_jumbotron_form h2:nth-of-type(2) {
    margin-top: 0px;
}

#ms_jumbotron_form input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.ms_btn_jumbotron_create {
    color: white;
    background-color: #579aff;
    border: 1px solid #579aff;
    transition: 0.5s;
}
.ms_btn_jumbotron_create:hover {
    color: #579aff;
    background-color: white;
}

.ms_btn_jumbotron_sign {
    position: relative;
    box-shadow: 2px 2px lightgray;
    transition: 0.5s;
}
.ms_btn_jumbotron_sign:hover {
    border: 1px solid lightgray;
    box-shadow: 4px 4px lightgray;
}
#ms_google_icon {
    width: 20px;
    position: absolute;
    left: 5%;
}

#ms_jumbotron_form p {
    font-size: 10px;
    margin-top: 10px;
}
#ms_jumbotron_form p a {
    text-decoration: underline;
}

/* MAIN */
/* partners */
#ms_partners {
    padding: 30px 0;
}

#ms_partners p {
    text-transform: uppercase;
}

.ms_partners_item img{
    height: 100px;
    width: 100%;
}
/* description */
.ms_description_item {
    padding-top: 15px;
}

#ms_description_text {
    padding-bottom: 50px;
}
#ms_description_list {
    padding-bottom: 30px;
}

#ms_description_list h3{
    font-size: 21px;
    font-weight: 400;
}

#ms_description_list ul{
    list-style: none;
    padding-left: 10px;
    border-left: 1px solid gray;
}

/* create */
#ms_create_item {
    position: relative;
}

#ms_create_text h2 {
    padding-bottom: 20px;
}

#ms_create_image_container {
    padding-top: 150px;
    padding-bottom: 20px;
}

#ms_create_image_container img {
    width: 100%;
}

#ms_create_item p {
    padding-bottom: 50px;
}

/* features */
#ms_features h2 {
    padding-bottom: 30px;
}

.ms_features_item {
    padding-bottom: 30px;
}
/* regions */
#ms_regions span {
    color: whitesmoke;
}

#ms_regions a {
    text-decoration: none;
    color: #00ced0;
}
#ms_regions a:hover {
    border-bottom: 1px solid #00ced0;
}

.ms_regions_table_row .col-xs-2 {
    text-align: center;
}
.ms_regions_table_row .col-xs-3 {
    text-align: right;
}

.ms_regions_table {
    padding: 15px 0;
}
.ms_regions_table_row {
    padding: 10px;
}
.ms_regions_table .ms_regions_table_row:not(:last-of-type) {
    border-bottom: 2px solid whitesmoke;
}

/* reviews */
#ms_reviews_item {
    position: relative;
    margin-top: 100px;
    padding: 40px 0;
}

#ms_reviews img {
    width: 95%;
    margin-bottom: 20px;
}

#ms_reviews_item_signature {
    margin-bottom: 30px;
}

#ms_reviews_item_signature p {
    margin: 0 0;
}


/* get started */
#ms_get_started {
    text-align: center;
}

.ms_get_started_btn {
    margin-top: 18px;
    color: #1d7bfe;
    background-color: white;
    border: 1px solid white;
    transition: 0.5s;
}
.ms_get_started_btn:hover {
    color: white;
    background-color: #1d7bfe;
}

/* footer */
#ms_footer {
    background-color: #031c4e;
}

#ms_footer_copyright {
    padding-bottom: 15px;
}

#ms_footer_copyright p:first-of-type,
#ms_footer_copyright_social a,
.ms_footer_list a {
    color: #a5acbc;
}
.ms_footer_list a:hover,
#ms_footer_copyright_social a:hover{
    color: white;
}

#ms_footer_copyright img {
    padding-bottom: 10px;
}

#ms_footer_copyright p {
    margin: 0px;
}

#ms_footer_copyright_social {
    padding-top: 10px;
}
#ms_footer_copyright_social a {
    text-decoration: none;
    font-size: 24px;
    padding-right: 8px;
}

.ms_footer_list {
    padding-inline-start: 0px;
    list-style: none;
    margin-bottom: 20px;
}
.ms_footer_list li {
    padding-bottom: 9px;
}
.ms_footer_list li:first-child {
    font-size: 19px;
    font-weight: 700;
    color: white;
}
.ms_footer_list a {
    text-decoration: none;
}

/* media query */
@media (min-width: 768px) {

    /* ms_create_item - chevron */
    /* ms_reviews_item - chevron */
    .fa-chevron-left,
    .fa-chevron-right {
        visibility: visible;
    }

    /* ms_reviews - rockerbox logo */
    #ms_reviews img {
        width: 75%;
    }
}

/* navbar collapse fix */
/* https://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (min-width: 1200px) {

    /* ms_jumbotron - title h1 */
    h1 {
        font-size: 70px;
    }

    /* ms_reviews - rockerbox logo */
    #ms_reviews img {
        width: 50%;
    }

    /* fixed */
    #ms_fixed {
        right: 5%;
    }
}
